  
  
  
<div   [hidden]="enableGridFiltering">
  <ng-container *ngFor="let field of dynamicInUse; let i = index;">

    <div>

      <select #filterSelector2 
              [disabled]="field.disabled" 
              (change)="setModelDynamic(field,filterSelector2.value)" 
              [(value)]="field.outputModel">

        <option *ngFor="let opt of field.availableSelecitons; let i = index"  
         >{{opt}}</option>

      </select>

      <input *ngIf="field.type == 'TEXT'" 
             [disabled]="field.disabled"
             [(ngModel)]="field.selected">

      <select *ngIf="field.type=='SELECT'"
              [disabled]="field.disabled"
              [(ngModel)]="field.setValue">
              
          <option *ngFor="let opts of field.inputModel;let i = index"
                  >{{opts}}</option>
      </select>

      <select *ngIf="field.type=='MULTI'"
              [disabled]="field.disabled"
              [(ngModel)]="field.setValue"
               multiple>
              
        <option *ngFor="let opts of field.inputModel;let i = index"
                [selected]="opts[0]" [ngValue]="field.outputModel">{{opts}}</option>
      </select>

    </div>

  </ng-container>

  <button (click)="addFieldsDynamic()">Add</button>
</div>