  
  
  
<div   [hidden]="enableGridFiltering">
  <ng-container *ngFor="let field of dynamicInUse; let i = index;">

    <div>
      <button [disabled]="dynamicInUse.length <= 1"  (click)="removeSelection(i,field)"><span>Remove</span></button>
      <select #filterSelector2 
              [disabled]="field.disabled" 
              (change)="setModelDynamic(field,filterSelector2.value)" 
              [(value)]="field.outputModel">

        <option *ngFor="let opt of field.availableSelections; let i = index"  
         >{{opt}}</option>

      </select>

      <input *ngIf="field.type == 'TEXT'" 
             [disabled]="field.disabled"
             [(ngModel)]="field.setValue">

      <select *ngIf="field.type=='SELECT'"
              [disabled]="field.disabled"
              [(ngModel)]="field.setValue">
              
          <option *ngFor="let opts of field.inputModel;let i = index"
                  >{{opts}}</option>
      </select>

      <select *ngIf="field.type=='MULTI'"
              [disabled]="field.disabled"
              [(ngModel)]="field.setValue"
               multiple>
              
        <option *ngFor="let opts of field.inputModel;let i = index"
                [selected]="opts[0]" [ngValue]="opts">{{opts}}</option>
      </select>

    </div>

  </ng-container>

  <button (click)="addFieldsDynamic()" [disabled]="availableSearch.length == 1 ">Add</button>

   <button (click)="getSearchModel()">Search</button>
</div>